* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

font {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

body {
  width: 100vh;
  height: 70vh;
  width: 1440px;
  background-color: hsl(233, 47%, 7%);
}
.card-container {
  display: flex;
  min-width: 70rem;
  min-height: 55.55vh;
  margin: 170px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
}
.main-container {
  padding: 0px 0px 0px 70px;
}

.title-container {
  max-height: 100%;
  max-width: 100%;
}

h1 {
  margin-right: 10px;
  padding: 60px 70px 9px 0px;
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  color: hsl(0, 0%, 100%);
}
strong {
  color: hsl(277, 64%, 61%);
}
.p1 {
  font-family: "Lexend Deca";
  color: hsla(0, 0%, 100%, 0.75);
  margin: 10px 80px 25px 0px;
  padding-right: 125.5px;
  font-size: 0.95em;
}
h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  color: hsl(0, 0%, 100%);
}
.p2 {
  font-family: "Lexend Deca";
  font-size: 0.85em;
  color: hsla(0, 0%, 100%, 0.6);
  padding-top: 8px;
}

.Number-container {
  font-family: "Inter", sans-serif;
  display: flex !important;
  padding-top: 15px;
}

.Number-content {
  font-family: "Inter", sans-serif;
  padding: 40px 50px 0px 0px;
}
.CardImg {
  filter: opacity(0.4) drop-shadow(0 0 0 hsla(292, 95%, 44%, 0.863));

  display: flex;
  justify-content: center;
  align-items: center;
}
.Img {
  width: 67vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
